.trial-container {
  margin-left: 260px;
  padding: 80px 20px 0 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.btn-add {
  padding: 10px 15px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trial-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.trial-card:hover {
  transform: translateY(-5px);
}

.trial-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.trial-content p {
  font-size: 16px;
  margin: 5px 0;
}

.btn-success {
  margin: 10px 5px;
}
